---
layout: layouts/home.njk
eleventyNavigation:
  key: Characters
  order: 3
---
<h1>Characters</h1>

{% set postslist = collections.characters %}
{% include "categorylist.njk" %}

<h2 class=clothestitle>Where do I put appearance presets (.vap)?</h2>

<p class=clothes><i>YourVAMfolder</i>/Custom/Atom/Person/Appearance/</p>