---
layout: layouts/home.njk
eleventyNavigation:
  key: Clothing
  order: 4
---
<h1>Clothing</h1>

{% set postslist = collections.clothing %}
{% include "categorylist.njk" %}

<h2 class=clothestitle><i>quickdress</i> presets</h2>

<p class=clothes>These are Empty atom presets combined with clothing presets with a plugin (VAMStory Actions) that creates a UI to control the loading of presets and the state of individual clothes, eg: open/close a blouse. They are packaged as VARs so they go in the <i>AddonsPackages</i> folder.</p>

<p class=clothes>Each <i>quickdress</i> VAR includes <b>multiple clothing options</b>. The thumbnail shown is just one of several choices in the VAR, some can have more than 10 clothes options. You can find instructions on how to load and use them in the <i>quickdress presets</i> page linked above.</p>

<p class=clothes>Individual clothing presets will be removed from this website when available in a <i>quickdress</i> preset. If you do not want to use a <i>quickdress</i> preset you can still use the clothing presets inside the VARs.</p>

<h4 class=clothes>Ideally you should only keep the latest version of a <i>quickdress</i> VAR.</h4>

<h2 class=clothestitle>Where do I put clothing presets (.vap)?</h2>

<p class=clothes><i>YourVAMfolder</i>/Custom/Atom/Person/Clothing/</p>
