---
layout: layouts/full_page.njk
permalink: donate.html
---
<section class="hometext">

<article>
<h2>Hi there</h2>

<h3>Thank you for your interest in supporting me, I appreciate the intention.</h3>

<h3>I share my work for free and have no desire to be rewarded financially for it. I also do not take monetary incentives on custom works.<br>
However, if you have an idea about a scene or resource, then do share it with me. If I'm interested I may create it, or at least try.</h3>

<h3>I would definitely appreciate any comments, tips, reviews and tweaks that you may have on the content shared, I strive to make it better and more appealing.</h3>
<h3>

<h2>But you can donate to others</h2>

<h3>If you're looking to donate money, there are numerous organizations, from local to multinational, that would appreciate your support. Any amount can make a difference.<br>
Thank you for donating.</h3>

</article>

</section>