<section class="homesection">
	<ul class="categorylist">
	{% for post in postslist| sort(attribute="data.title") %}
		<li>
			<a href="{{ post.url }}"><h2>{{ post.data.title }}</h2></a>
			<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd-LL-yyyy") }}</time>
		</li>
	{% endfor %}
	</ul>
</section>
