<section class="homesection">
	<ul reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
	{% for post in postslist | reverse %}
		<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
			<a href="{{ post.url }}">
				<article{% if post.url == url %} data-current="current item"{% endif %} class="list">
					<img src="{{ "/img/others/" }}{{ post.data.thumbnail }}.avif">
					<h3 class="cover">{{ post.data.title }}</h3>
				</article>
			</a>
		</li>
	{% endfor %}
	</ul>
</section>
