/* Fonts */
:root {
	--font-family: IBM Plex Sans, -apple-system, system-ui, sans-serif;
	--font-family-monospace: IBM Plex Mono, Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

@font-face {
    font-family: 'IBM Plex Sans';
	font-style: normal;
    src: local('IBM Plex Sans'),
        url('https://atani12.gitlab.io/vam/css/IBMPlexSans-Regular.woff2') format('woff2'),
        url('https://atani12.gitlab.io/vam/css/IBMPlexSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Mono';
	font-style: normal;
    src: local('IBM Plex'),
        url('https://atani12.gitlab.io/vam/css/IBMPlexMono-Regular.woff2') format('woff2'),
        url('https://atani12.gitlab.io/vam/css/IBMPlexMono-Regular.woff') format('woff');
}

/* Theme colors */
:root {
	--primary: black;
	--secondary: white;
	--tag: black;
	--background: lightgray;
	--mega: #D32F2F;
	--hub: #1565C0;

	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;
	--background-color: #fff;
	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}





/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--primary);
}
html {
	overflow-y: scroll;
}
body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: underline;
}


h1 {
	display: inline-block;
	font-weight: normal;
	margin: 0.5em 0.5em 0.5em 0;
	padding-left: 1rem;
	font-size: 2rem;
}

h2 {
	font-family: var(--font-family-monospace);
	font-weight: 400;
}

h3, h3:visited, h3 a[href]:not(:hover) {
	font-family: var(--font-family-monospace);
	text-decoration: none;
	font-weight: normal;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}



/* Classes and areas */

main {
	padding-top: 1em;
	padding-bottom: 2em;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1vw;
}
main :first-child {
	margin-top: 0;
}


picture, img {
	display: inline;
	max-width: 100%;
	height: auto;
}

.content {
	margin-top: 0.8em;
}

.content img {
	margin: 0.5em 0.5em 0 0;
}

.page {
	padding: 1em 2em;
}

main {
	padding-bottom: 2em;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1vw;
}

.side {
	position: sticky;
	top: 2rem;
	height: 80vh;
}

footer {
	background-color: gainsboro;
}

footer p {
	font-family: var(--font-family-monospace);
	padding: 0.25rem 0;
	margin: 0 auto;
	max-width: 800px;
}






/* Header */

header {
	display: inline-grid;
	grid-template-columns: auto auto auto;
	padding: 0 2em;
	border-bottom: 1px dashed lightgray;
	list-style: none;
	column-gap: 50px;
}

header .title {
	width: 200px;
	margin: 1em 0;
}

header .title a:hover {
	filter: invert(50%);
}

.hometext {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5vw;
	padding-left: 1rem;
}


/* Nav */
.nav {
	display: flex;
	padding: 1.25rem 0;
	margin: 0;
	list-style: none;
}

.nav-item a[href],
.nav-item a[href]:hover,
.nav-item a[href]:visited {
	display: inline-block;
	vertical-align: baseline;
	text-transform: uppercase;
	font-family: var(--font-family-monospace);
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	padding: 0 .5em;
	line-height: 2em;
	border: 1px solid var(--tag);
	background-color: var(--tag);
	color: var(--secondary);
	border-radius: .25em;
	text-decoration: none;
	margin: 0 .5em .5em 0;
}

.nav-item a[href]:hover,
.nav a[href][aria-current="page"] {
	border: 1px solid var(--tag);
	background-color: var(--secondary);
	color: var(--tag);
}

.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}




/* Categories */

.homesection ul {
	display: inline-block;
}

.homesection ul li {
	display: inline-block;
	vertical-align: top;
}


.homesection article {
	font-size: 0.9em;
	width: 200px;
	display: inline-block;
	margin: 1em 2em;
	transition-duration: 0.1s;
}

article .cover, .cover:visited, .cover a[href]:not(:hover) {
    padding: 0 0.75em;
	font-family: var(--font-family-monospace);
	text-decoration: none;
	font-weight: normal;
}


.homesection .categorylist li {
	display: block;
	margin-bottom: 2rem;
}

.homesection .categorylist li a:hover {
	filter: invert(50%);
}

.categorylist h2 {
	display: inline;
}

.categorylist time {
	display: inline;
	font-size: 0.9rem;
	margin-left: 1.5rem;
	color: var(--color-gray-90);
}

.page nav  {
	margin: 2em 0;
}

.clothestitle {
	margin-left: 1rem;
}

.clothes {
	margin-left: 2.5rem;
	max-width: 1000px;
}

/* Posts List */

.postlist-date,
.postlist-item-look:before,
.postlist-item:before {
	display: block;
	margin-left: 3em;
	font-size: 1em;
	color: var(--color-gray-90);
}

.postlist-item,
.postlist-item-look {
	min-height:350px;
}

..postlist-item-look a[href],
.postlist-item a[href] {
	text-decoration: none;
}
  
main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}


hr { border: 1px dashed gainsboro;}
  
  


/* Content pages */

time {
	font-size: 1.45rem;
}

.downloads {
	margin-top: 2em;
}

.tag {
	display: inline-block;
	font-family: var(--font-family-monospace);
	font-size: 1.4rem;
}

.mega {
	display: inline-block;
	text-transform: uppercase;
	font-family: var(--font-family-monospace);
	font-size: 1.8rem;
	line-height: 2em;
	padding: 0 1em;
	border: 2px solid var(--mega);
	background-color: var(--secondary);
	color: var(--mega);
	border-radius: .25em;
	text-decoration: none;
	margin-right: 1em;
}

.mega:hover {
	border: 2px solid var(--mega);
	background-color: var(--mega);
	color: var(--secondary);
}

.hub {
	display: inline-block;
	text-transform: uppercase;
	font-family: var(--font-family-monospace);
	font-size: 1.8rem;
	line-height: 2em;
	padding: 0 1em;
	border: 2px solid var(--hub);
	background-color: var(--secondary);
	color: var(--hub);
	border-radius: .25em;
	text-decoration: none;
}

.hub:hover {
	border: 2px solid var(--hub);
	background-color: var(--hub);
	color: var(--secondary);
}

.content a img {
	max-height: 500px;
}

section article {
	margin-bottom: 3rem;
}
section article:last-child {
	margin-bottom: 0;
}

.itemlist {
	margin: 0.5rem;
	display: inline-block;
}

.itemlist img {
	border: 4px solid white;
}

.itemlist img:hover {
	border: 4px solid var(--color-gray-50);
}

.list {
	border: 4px solid white;
}

.list:hover {
	border: 4px solid var(--color-gray-50);
}

section article a img {
	width: 200px;
}

.presetbutton-red,
.presetbutton-blue,
.presetbutton-black {
	display: inline-block;
	text-transform: lowercase;
	font-family: var(--font-family-monospace);
	font-size: 1.1rem;
	line-height: 2em;
	padding: 0 1em;
	border-radius: .25em;
	text-decoration: none;
	margin-bottom: 2rem;
}

.presetbutton-red {
	border: 2px solid var(--mega);
	background-color: var(--secondary);
	color: var(--mega);
}

.presetbutton-red:hover {
	border: 2px solid var(--mega);
	background-color: var(--mega);
	color: var(--secondary);
}

.presetbutton-blue {
	border: 2px solid var(--hub);
	background-color: var(--secondary);
	color: var(--hub);
}

.presetbutton-blue:hover {
	border: 2px solid var(--hub);
	background-color: var(--hub);
	color: var(--secondary);
}

.presetbutton-black {
	border: 2px solid var(--tag);
	background-color: var(--secondary);
	color: var(--tag);
}

.presetbutton-black:hover {
	border: 2px solid var(--tag);
	background-color: var(--tag);
	color: var(--secondary);
}

.character-card {
	display: grid;
	max-width: 700px; 
	grid-template-columns: 1fr 1fr;
}

.portrait {
	max-width: 300px;
}

.presets {
	margin-top: 1rem;
	list-style: none;
}

.square_items {
	display: inline-block;
	text-align: center;
}

@media screen and (max-width:1200px) {
	:root {
		font-size: 1.1rem;
	}
	
	header {
		display: inline-grid;
		grid-template-columns: auto;
		padding: 0 2em;
		border-bottom: 1px dashed lightgray;
		list-style: none;
	}

	header .title {
		display: none;
	}

	.hometext {
		display: grid;
		grid-template-columns: 1fr;
		padding-left: 1rem;
	}

	.hometext article {
		margin-bottom: 0.5rem;
	}

	.homesection article {
		display: inline-block;
		margin: 1em;
	}

	main {
		padding-bottom: 2em;
		display: grid;
		grid-template-columns: auto;
	}

	.side {
		position: initial;
		height: 100%;
	}

	.content a img {
		max-width: 300px;
	}

}

@media screen and (min-width: 1200px) {

	.homepage-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}


@media screen and (min-width:2000px) {
	.hometext article {
		max-width: 1000px;
	}

	.taglist {
		width: 70vw;
	}
}
