---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "_includes/css/prism-diff.css" %}{%- endcss %}

<main>
  <sidebar class="side">
    <h1>{{ title }}</h1>
    	
    <p class="data">
      Last update:<br/>
      <time datetime="{{ date | htmlDateString }}">{{ date | htmlDateString }}</time>
    </p>

    <p>Appearance presets do not include clothing.<br>
    Use the linked quickdress preset to load the shown outfit.</p>
    </sidebar>

  <section>
    {{ layoutContent | safe }}

    <!-- presets -->
    <article class="character-card">
      {% for person in characters %}
        <div class="portrait">
          {% if person.app_f_override %}
            <img src="{{ "/img/characters/" }}{{ person.app_f_override }}/{{ person.image }}.avif">
          {% else %}
            <img src="{{ "/img/characters/" }}{{ app_folder }}/{{ person.image }}.avif">
          {% endif %}
        </div>
        <ul class="presets">
          <h2>{{ person.name }}</h2>
          <br>
          <li>
            {% if person.app_f_override %}
              <a href="{{ "/img/characters/" }}{{ person.app_f_override }}/{{ person.image }}.vap" download><h3 class="presetbutton-red">Appearance</h3></a>
            {% else %}
              <a href="{{ "/img/characters/" }}{{ app_folder }}/{{ person.image }}.vap" download><h3 class="presetbutton-red">Appearance</h3></a>
            {% endif %}
          </li>
          {% if person.quickdress %}
            <li>
              <a href="{{ "/img/clothing/quickdress" }}/{{ person.quickdress }}.var" download><h3 class="presetbutton-blue">quickdress</h3></a>
            </li>
          {% endif %}
          <a href="{{ "/img/characters/" }}{{ app_folder }}/{{ person.image }}.vap.txt" target=_blank><h3 class="presetbutton-black">dependencies</h3></a>
        </ul>
      {% endfor %}
    </article>

  </section>
</main>
