---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "_includes/css/prism-diff.css" %}{%- endcss %}

<main>
  <sidebar class="side">
    <h1>{{ title }}</h1>

    <p class="data">
      Last update:<br/>
      <time datetime="{{ date | htmlDateString }}">{{ date | htmlDateString }}</time>
    </p>
	  </sidebar>

  <section>

    <!-- Clothing presets -->
    <article>
      {% if quickdress %}
        {% for item in quickdress %}
          <a href="{{ "/img/clothing/quickdress/" }}{{ item }}.var" class="itemlist" download>
            <img src="{{ "/img/clothing/quickdress/" }}{{ item }}.avif">
          </a>
        {% endfor %}
      {% else %}
        {% for item in outfit %}
          <article class="square_items">
            <a href="{{ "/img/clothing/presets/" }}{{ item }}.vap" class="itemlist" download>
              <img src="{{ "/img/clothing/presets/" }}{{ item }}.avif">
            </a>
            <a href="{{ "/img/clothing/presets/" }}/{{ item }}.vap.txt" target=_blank><h3>dependencies</h3></a>
          </article>
        {% endfor %}
      {% endif %}
    </article>
    {{ layoutContent | safe }}
  </section>
</main>
