---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "_includes/css/prism-diff.css" %}{%- endcss %}

<main>
  <sidebar class="side">
    <h1>{{ title }}</h1>
    
    <h3 class="summary">{{ summary }}</h3>
    
    <div><img src="{{ "/img/others/" }}/{{ thumbnail }}.avif" alt="thumbnail" width="256"></div>
    <p class="data">
      Last update:<br/>
      <time datetime="{{ date | htmlDateString }}">{{ date | htmlDateString }}</time>
    </p>
		
	<div class="downloads">
		{% if mega %}
			<a href="{{ mega | url }}" target=_blank><div class="mega">Mega</div></a>
		{% endif %}
		{% if hub %}
			<a href="{{ hub | url }}" target=_blank><div class="hub">Hub</div></a>
		{% endif %}
		{% if not mega and not hub %}
			<h2>... <em>soon</em> ...</h2>
		{% endif %}
	</div>
  </sidebar>

  <article class="content">
    {{ layoutContent | safe }}
    {% if images %}
      <hr>
      <h2>Gallery:</h2>
      <p></p>
      {% for img in images %}
        <a href="{{ "/img/others/" }}/{{ img }}.avif" target=_blank><img src="{{ "/img/others/" }}/{{ img }}.avif"></a>
      {% endfor %}
    {% else %}
      <p></p>
	  {% endif %}
  </article>
</main>
