---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "_includes/css/prism-diff.css" %}{%- endcss %}

<main>
  <sidebar class="side">
    <h1>{{ title }}</h1>
    
    <h3 class="summary">{{ summary }}</h3>
    
    <p class="data">
      Last update:<br/>
      <time datetime="{{ date | htmlDateString }}">{{ date | htmlDateString }}</time>
    </p>
    <hr>
    {{ layoutContent | safe }}
  </sidebar>

  <section>

    <!-- quickplace subscenes -->
    {% if quickplace %}
      {% for item in quickplace %}
        <article class="itemlist">
          <a href="{{ "/img/quickplace/" }}/{{ item.var }}.var" download>
            <img src="{{ "/img/quickplace/" }}/{{ item.var }}.avif">
          </a>
          <p>{{ item.title }}</p>
        </article>
      {% endfor %}
    {% endif %}
    {% if quickplace_restricted %}
      {% for item in quickplace_restricted %}
        <article class="itemlist">
          <a href="{{ "/img/quickplace/" }}/{{ item.var }}.var" download>
            <img src="{{ "/img/quickplace/" }}/{{ item.var }}.avif">
          </a>
          <p>{{ item.title }}</p>
        </article>
      {% endfor %}
    {% endif %}
  </section>
</main>
