---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "_includes/css/prism-diff.css" %}{%- endcss %}

<main>
  <sidebar class="side">
    <h1>{{ title }}</h1>
    
    <h3 class="summary">{{ summary }}</h3>
    
    <p class="data">
      Last update:<br/>
      <time datetime="{{ date | htmlDateString }}">{{ date | htmlDateString }}</time>
    </p>
    <hr>
    {{ layoutContent | safe }}
  </sidebar>

  <section>

    <!-- quickmusic -->
    {% if quickmusic %}
      {% for item in quickmusic %}
        <article class="itemlist">
          <a href="{{ item.url }}" target=_blank>
            <img src="{{ "/img/others/quickmusic" }}/{{ item.image }}.avif">
          </a>
        </article>
      {% endfor %}
    {% endif %}
  </section>
</main>
